html
    head
        title
        link(rel="stylesheet", href="")
    body
        form(action='/' method='post')
            fieldset
                legend Add a user
                p
                    label username
                    input(type="text",name='username')
                p
                    label email
                    input(type="text",name='email')
                p
                    input(type='submit',value='submit')